.mainImg {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.relatedContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}

.relatedImg {
  width: 32%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
